/* ===== TipTap ===== */

.ProseMirror {
  min-height: 70vh;
  outline: none;

  --textstyle-normal-size: 1rem;
  --textstyle-title-size: 2rem;
  --textstyle-subtitle-size: 1.5rem;
  --textstyle-h1-size: 2rem;
  --textstyle-h2-size: 1.5rem;
  --textstyle-h3-size: 1.25rem;
}

.ProseMirror p {
  margin: 0.5rem 0;
  font-size: var(--textstyle-normal-size);
}

.ProseMirror h1 {
  font-size: var(--textstyle-h1-size);
}

.ProseMirror h2 {
  font-size: var(--textstyle-h2-size);
}

.ProseMirror h3 {
  font-size: var(--textstyle-h3-size);
}

.ProseMirror ul {
  list-style-type: disc;
  list-style-position: outside;
  padding-left: 1.5rem;
}

.ProseMirror ol {
  list-style-type: decimal;
  list-style-position: outside;
  padding-left: 1.5rem;
}

.ProseMirror li {
  margin: 0.2rem 0;
}
