/* ===== TipTap ===== */

.ProseMirror {
  min-height: 70vh;
  outline: none;
}

.ProseMirror p {
  margin: 0.5rem 0;
}

.ProseMirror h1 {
  font-size: 1.8rem;
}

.ProseMirror h2 {
  font-size: 1.4rem;
}

.ProseMirror ul {
  list-style-type: disc;
  list-style-position: outside;
  padding-left: 1.5rem;
}

.ProseMirror ol {
  list-style-type: decimal;
  list-style-position: outside;
  padding-left: 1.5rem;
}

.ProseMirror li {
  margin: 0.2rem 0;
}
